nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 a {
  text-decoration: none;
}

.nav-list {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 15px;
}

li a {
  text-decoration: none;
}