.shop-container {
  background-color: $bg-primary;

  .hero {
    height: 500px;
    background-image: url("../images/flavors.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .hero-title {
      text-align: center;
      font-size: 40px;
      color: white;
      text-transform: uppercase;
      padding-bottom: 30px;
      text-shadow: 2px 2px 3px black; 
    }
  }

  .products-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: auto;
    padding-bottom: 75px;
      
    .product {
      display: inline-block;
      margin: 30px;
      padding: 15px;
      width: 270px;
      height: 270px;
      border-radius: 6px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: all .25s ease-in-out;
        
      &:hover {
        transform: scale(1.05);
        -webkit-box-shadow: 0px 10px 19px 3px rgba(0,0,0,0.27);
        -moz-box-shadow: 0px 10px 19px 3px rgba(0,0,0,0.27);
        box-shadow: 0px 10px 19px 3px rgba(0,0,0,0.27);
        transform: scale(1.05);

        .price, .flavor {
            font-weight: bold;
        }
      }

      img {
          width: 200px;
          height: 146px;
      }

      .flavor, .price {
          color: black;
      }

      .flavor {
          margin: 10px 0;
      }
    }
  }

  .dropdown-container {
    // height: 192px;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;

    .dropdown {
      display: relative;
      width: 200px;

      .dropdown-label {
        display: inline-block;
        margin-bottom: 5px;
      }       

      .btn-toggle {
        padding: 5px 15px;
        width: 100%;
        background-color: white;
        border: none;
        font-size: 16px;
        border: 1px solid gray;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &.expanded {
          svg {
              transform: rotate(0);
          }
        }

        .selected-item {
          display: inline-block;
        }

        svg {
          display: inline-block;
          height: 15px;
          width: 15px;
          margin-left: 12px;
          transition: all .25s ease-in-out;
          transform: rotate(-90deg);
        }
      }  

      .list {
        display: absolute;
        top: 0;
        left: 0;
        list-style-type: none;
        opacity: 0;
        max-height: 0;
        transition: all .25s ease-in-out;
        z-index: 3;
        overflow: hidden;

        &.expanded {
          max-height: 500px;
          opacity: 1;
        }

        .item {

          button {
            width: 100%;
            padding: 5px;
            background-color: white;
            border: 1px solid gray;
            border-top: none;
            font-size: 16px;
            cursor: pointer;
          }
        }
      }
    }
  }
}